html,
body {
  padding: 0;
  margin: 0;
  font-family: Poppins, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "Poppins";
}

.flex-container {
  display: flex;
}

.flex-item {
  flex: 2;
}

@media screen and (max-width: 600px) {
  .flex-container {
    display: contents;
  }
}

*::-webkit-scrollbar {
  width: 0.5em;
  border-radius: 10px;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  borderradius: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: #ededeb;
  outline: 1px solid slategrey;
  borderradius: 1px;
}

@font-face {
  font-family: "Segoe UI";
  src: url("/fonts/SEGOEUI.TTF");
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Regular.ttf");
}

.notion-page {
  width: 80%;
}

@media only screen and (max-width: 600px) {
  .notion-page {
    width: 90%;
  }
}

@media only screen and (max-width: 400px) {
  .notion-page {
    width: 95%;
  }
}
