.notion-page {
  width: 90%;
  background-color: #020f02;
}

.dark-mode {
  --bg-color: #020f02;
}

/* overiding the title and h1 tags of notion content */
/* Page title */
/* The real h1 */
.notion-title {
  font-weight: 800;
  font-size: 6rem;
  font-family: "Dela Gothic One", sans-serif;
  background: -webkit-linear-gradient(#a6ebc9, #005704);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 0.5em;
}

/* overiding the p tags of notion content */
.notion-text {
  font-weight: 500;
  font-size: 1.1rem;
}

/* Notion Aside Table of content css */
.notion-aside {
  top: calc((100vh - 100%) / 2);
}

/* Notion Aside Table of content header css */
.notion-aside-table-of-contents-header {
  font-weight: 600;
  font-size: 1rem;
  opacity: 1;
  padding: 0.5rem;
  margin: 1rem;
  border: 1px solid transparent;
  border-image: linear-gradient(60deg, #a6ebc9, #005704);
  border-image-slice: 1;
  border-radius: 10px;
}

.notion-table-of-contents-active-item {
  color: #fff !important;
}
.notion-table-of-contents-item:hover {
  background: none;
}

.notion-table-of-contents-item {
  opacity: 1;
}

/* Notion Aside Table of content item css */
.notion-table-of-contents-item span {
  font-weight: 300;
  font-size: 1rem;
  text-underline-offset: 5rem;
  color: #fff;
  display: inline-block;
  position: relative;
  color: #f2f2f2;
}

.notion-table-of-contents-item span:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: green;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.notion-table-of-contents-item span:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Notion Aside Table of content scrollbar css */
.notion-aside-table-of-contents::-webkit-scrollbar {
  width: 0.1em;
  border-radius: 3.125rem;
}

.notion-aside-table-of-contents::-webkit-scrollbar-thumb {
  background-color: #a6ebc9;
  outline: 1px solid #005704;
  border-radius: 2px;
}

.notion-aside {
  width: 450px;
  max-width: 450px;
}

.notion-aside-table-of-contents {
  width: 100%;
  padding-left: 1rem;
}

.notion-table-of-contents-item-body {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.notion-page-content {
  width: 100%;
}

/* Notion divider for dark mode */
.notion-hr {
  width: 100%;
  margin: 0.75rem 0;
  border-top: 0.05rem solid rgb(166, 235, 201, 0.5);
}

.notion-link {
  color: green;
  opacity: 1;
  border: none;
  font-weight: 600;
  display: inline-block;
  position: relative;
}

.notion-link::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #005704;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.notion-link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.notion-audio audio {
  background-color: #005704;
  border-radius: 30px;
}

.notion-page-icon-hero.notion-page-icon-image {
  width: 64px;
  height: 64px;
}

.notion-page-no-cover.notion-page-has-image-icon {
  padding-top: 5rem;
}

.notion-page-icon-hero.notion-page-icon-image img {
  object-fit: contain;
}

span.notion-inline-underscore{
  text-decoration: none;
  color: #ffffff;

  font-weight: bold;
}

b{
  color: #a6ebc9;
}

@media (min-width: 1300px) and (min-height: 300px) {
  .notion-page-content-has-aside .notion-page-content-inner {
    width: 100%;
    max-width: 100%;
    flex-grow: 1;
  }
}

@media only screen and (max-width: 600px) {
  .notion-page {
    width: 95%;
  }

   .notion-title {
    font-size: 3rem;
  }

  .notion-text {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 400px) {
  .notion-page {
    width: 99%;
  }
   .notion-title {
    font-size: 2.4rem;
  }

  .notion-text {
    font-size: 0.9rem;
  } 
}
