.notion-page {
  width: 90%;
}

@media only screen and (max-width: 600px) {
  .notion-page {
    width: 95%;
  }
}

@media only screen and (max-width: 400px) {
  .notion-page {
    width: 99%;
  }
}

.dark-mode {
  --bg-color: #161b20;
}

/* overiding the title and h1 tags of notion content */
.notion-title {
  font-weight: 800;
}
.notion-h-title {
  color: #f2f2f2;
  font-size: 2rem;
}

.notion-h-title b {
  font-weight: 800;
}
/* overiding the p tags of notion content */
.notion-text {
  font-weight: 500;
  font-size: 1.2rem;
}

/* Notion Aside Table of content css */
.notion-aside {
  top: calc((100vh - 100%) / 2);
}

/* Notion Aside Table of content header css */
.notion-aside-table-of-contents-header {
  font-weight: 600;
  font-size: 1.2rem;
}

/* Notion Aside Table of content item css */
.notion-table-of-contents-item {
  font-weight: 500;
  font-size: 1rem;
}

/* Notion Aside Table of content scrollbar css */
.notion-aside-table-of-contents::-webkit-scrollbar {
  width: 0.2em;
  border-radius: 3.125rem;
}

.notion-aside-table-of-contents::-webkit-scrollbar-thumb {
  background-color: #474c50;
  outline: 1px solid slategrey;
  border-radius: 2px;
}
/* 
.notion-aside {
  width: 10%;
}

.notion-aside-table-of-contents {
  width: 100%;
  padding-left: 1rem;
}

.notion-table-of-contents-item-body {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
} */
